button{
  padding: 0.5%;
}

.button-white{
  background-color: $white;
  border-color: $quick-silver;
  margin-left: 43%;
}

.button-green{
  background-color: $shiny-shamrock;
  border-color: $quick-silver;
  margin-left: 1.5%;
}
