button{
  padding: 0.5%;
}

.button-white{
  background-color: $white;
  border-color: $quick-silver;
  margin-left: 42vw;
}

.button-green{
  background-color: $shiny-shamrock;
  border-color: $quick-silver;
  margin-left: 2vw;
}
