.cuadrado_rojo{
  background-color: $flame;
  width: 150px;
  height: 150px;
  text-align: center;
  color: $white;

  position: relative;
  top: -65px;
  z-index: 1;
}

.cuadrado_rojo_i{
  padding-top: 23%;
}
