.mapa{
  width: 30vw;
  height: 32.5vh;
  position: absolute;
  top: 80vh;
  left: 31.5vw;
}

.granos{
  height: 24vh;
  width: 8vw;
  position: absolute;
  bottom: -0.2vh;
  right: 26vw;
  
}

.cafetera{
  width: 31vw;
  height: 40vh;
  position: absolute;
  bottom: -16.2vh;
  right: 0vh;
}
