.mapa{
  width: 396px;
  height: 210px;
  position: absolute;
}

.granos{
  width: 96px;
  height: 165px;
  position: absolute;
}

.cafetera{
  width: 500px;
  height: 270px;
  position: absolute;
  bottom: -40px;
  right: 0;
}
