.middle_section{
  width: 65vw;
  height: 20vh;
  padding-left: 40px;
  background-color: $white;
  position: absolute;
  left: 33.2vw;
  top: 58vh;
}

.middle_section_div{
  display: inline-block;
}
